:root {
  --body-background: #262d31;
  --sidebar-brackground: #131c21;
  --sidebar-border: #3d3d3d;
  --item-hover-brackground: #2d3134;
  --table-shadow: #2d3134;

  --accent: #085373;
  --icons: #34b7f1;
  --gray: #d4d5d7;
  --white: #d8d9db;
  --links: #00af9c;

  --btn-primary: #00af9c;
  --btn-primary-hover: #008878;

  --btn-alert: #f08080;
  --btn-alert-hover: #dd3f3f;

  --min-app-width: 700px;
  --side-nav-bar-width: 11rem;
}
